.about{
  background-color: #fff;
  padding: 20px;
  /* border-radius: 5px; */
  /* box-shadow: 0 0 10px rgba(0,0,0,0.2); */
  margin: 20px 300px;
  text-align: center;
  font-size: 20px;
  /* font-weight: 600; */
  color: #000;
  /* text-transform: uppercase; */
  /* letter-spacing: 1px; */
  line-height: 1.5;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  /* text-indent: 50px; */
  /* text-shadow: 0 0 10px rgba(0,0,0,0.2); */
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}