.about {
<<<<<<< HEAD
  background-color: #fff;
=======
>>>>>>> 39308b1e7576af6cd9f932550ee942d13113a0ba
  padding: 20px;
  margin: 20px 300px;
  text-align: center;
  font-size: 1.25rem;
  color: #000;
  line-height: 1.5;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  text-decoration: none;
<<<<<<< HEAD
  transition: all 0.3s ease-in-out;
  margin-top: 100px;
}

.about-image {
  display: block;
  margin: 0 auto;
=======
}

.h1 {
  font-size: 3rem;
  text-align: center;
  text-decoration: none;
  font-family: 'Amatic SC', cursive;
  color: navy;
>>>>>>> 39308b1e7576af6cd9f932550ee942d13113a0ba
}
