.pet-bio-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-content: center;
  width: 80%;
  margin: 6rem ;
  gap: 2rem;
}

.pet-info-column {
  text-align: left;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  width: 100%;
  margin-top: 1rem;
  gap: 1rem;
}

.pet-bio-container h1 {
  font-size: 5rem;
  font-family: 'Amatic SC', cursive;
}

span {
  font-weight: bold;
}

.pet-bio-div-img{
  max-height: 500px;
  max-width: 500px;
  object-fit: cover;
}