.user-profile {
  text-align: center;
  padding: 20px;
  margin-top: 5rem;
}

.user-profile h1 {
  font-size: 50px;
  margin-bottom: 20px;
  text-align: left;
  font-family: "Amatic SC";
  font-weight:700;
}

.user-favorites {
  margin-top: 30px;
}

.favorite-image {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 60px;
}

.favorite-image img {
  width: 200px;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.image-info {
  margin-left: 20px;
  text-align: left;
  display: flex;
  flex-direction: column; /* Stack text vertically */
  align-items: flex-start; /* Align text to the left */
}

.image-info p {
  margin: 5px 0;
}

.favorite-image button {
  position: absolute;
  left: 100px;
  bottom: -40px;
  transform: translateX(-50%);
  background-color: #471aa0;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 3px 8px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 200px;
}

.favorite-image button:hover {
  background-color: #ffe033;
  color: #471aa0;
}

.user-avatar img {
  width: 150px;  /* Adjust the width to make the icon smaller */
  height: 150px; /* Adjust the height to maintain the aspect ratio */
  border-radius: 50%;
  object-fit: cover;
  margin-right: 15px;
}

.user-info {
  display: flex; /* Use flexbox to arrange items horizontally */
  align-items: center; /* Align items vertically within the container */
  margin-bottom: 20px;
}

.user-avatar img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 15px;
}

.user-details {
  display: flex; /* Use flexbox to arrange items horizontally */
  flex-direction: column; /* Stack items vertically within this container */
  text-align: left;
}

.user-details p {
  font-size: 24px;
  margin: 0;
  color: #0d0d0d;
}


/* Additional styling can be added for other elements */
