.parent {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 40px;
  margin-bottom: 12em;
}

.CatImg {
  grid-area: 1 / 1 / 2 / 2;
  max-height: 200px;
}

.CatText {
  grid-area: 1 / 2 / 2 / 3;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.div1 {
  flex: 1;
}

.div2,
.div3 {
  flex: 1;
  display: flex;
  max-height: 200px;
  align-items: center;
  margin-top: 12em;
}

.div2 {
  flex-direction: row;
}

.img {
  border: solid 2px black;
}
