.dog-parent {
  display: flex;
  flex-direction: row;
  margin-bottom: 50px;
}

.dog-column {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center; 
}

.Text {
  font-size: 18px;
  color: #333;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

.img {
  max-width: 100%;
  height: auto;
}
